trigger:
- main

pool:
  vmImage: 'windows-latest'

variables:
  solution: '**/*.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
  DOTNET_CLI_TELEMETRY_OPTOUT: 1

steps:

- task: UseDotNet@2
  displayName: 'Use .NET 8'
  inputs:
    packageType: 'sdk'
    version: '8.x'

- task: UseDotNet@2
  displayName: 'Use .NET 9'
  inputs:
    packageType: 'sdk'
    version: '9.x'

- task: UseDotNet@2
  displayName: 'Use .NET 10'
  inputs:
    packageType: 'sdk'
    version: '10.x'

- task: DotNetCoreCLI@2
  displayName: 'dotnet build'
  inputs:
    projects: '**/*.csproj'
    arguments: '--configuration $(BuildConfiguration)'

- task: DotNetCoreCLI@2
  displayName: 'dotnet test'
  inputs:
    command: test
    arguments: '--framework net8.0 --no-build --no-restore --configuration $(BuildConfiguration)'

- task: DotNetCoreCLI@2
  displayName: 'dotnet test'
  inputs:
    command: test
    arguments: '--framework net9.0 --no-build --no-restore --configuration $(BuildConfiguration)'

- task: DotNetCoreCLI@2
  displayName: 'dotnet test (coverage)'
  inputs:
    command: test
    arguments: '--framework net10.0 --no-build --no-restore --configuration $(BuildConfiguration) --collect:"XPlat Code Coverage"'

- task: DotNetCoreCLI@2
  displayName: 'dotnet tool restore'
  inputs:
    command: 'custom'
    custom: 'tool'
    arguments: 'restore'

- task: CopyFiles@2
  displayName: 'Copy bin and obj folders'
  inputs:
    Contents: | 
      $(Build.SourcesDirectory)\Directory.Build.props
      $(Build.SourcesDirectory)\LICENSE.txt
      $(Build.SourcesDirectory)\Maoli\bin\**\*.*
      $(Build.SourcesDirectory)\Maoli\obj\project.assets.json
      $(Build.SourcesDirectory)\Maoli\icon.png
      $(Build.SourcesDirectory)\Maoli\Maoli.csproj
    TargetFolder: '$(Build.ArtifactStagingDirectory)\Maoli'
    CleanTargetFolder: true
    OverWrite: true

- task: PublishBuildArtifacts@1
  displayName: 'Publish artifacts'
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'drop'
    publishLocation: 'Container'

- task: PublishCodeCoverageResults@2
  displayName: 'Publish code coverage'
  inputs:
    summaryFileLocation: '$(Agent.TempDirectory)\**\coverage.cobertura.xml'